@model CarBuyKaro.Models.Card

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image_Path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image_Path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car_no)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car_no)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car_age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car_age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car_base_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car_base_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car_insurence_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car_insurence_price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car_tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car_tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car_ins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car_ins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Selling_price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Selling_price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
