@model IEnumerable<MoviesApp.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Movies List</h1>

<p>
    
    <a asp-action="Create">ADD Movies</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieRetings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OTT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieRetings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OTT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
