@model IEnumerable<CarBuy.Models.Card>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Car
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car_age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car_base_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car_tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car_ins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selling_price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <img src="@("~/image/"+item.Image_Path)" asp-append-version="true" width="50" height="50">
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Car_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car_age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car_base_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car_tax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car_ins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Selling_price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
